html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

*{margin: 0; padding: 0; border: none; box-shadow: none; outline: none; border-radius: 0; font-style: normal; font-weight: normal; box-sizing: border-box; cursor: default}
a, button{cursor: pointer; *{cursor: pointer;}}
input, textarea{cursor: text;}
button, input{border-radius: 0;}
button:focus, button:active, input:focus, input:active{outline: none;}

body {line-height:1em;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
table {border-collapse:collapse; border-spacing:0;}
textarea, input, a {outline:none;}
@-ms-viewport{width:device-width;}

.clear {clear:both;}
.grid {position:relative; overflow:hidden;}
.clearfix, .container {*zoom:1;} .clearfix:before, .clearfix:after, .container:before, .container:after {display:table; content:""; line-height:0;} .container:after, .clearfix:after {clear:both;}
.hide-text {font:0/0 a; color:transparent; text-shadow:none; background-color:transparent; border:0;}
.hidden {display:none;}
.noselect {-webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
.noscroll {overflow:hidden;}
.d-flex {display:-webkit-box!important; display:-webkit-flex!important; display:-ms-flexbox!important; display:flex!important;}
[data-parallax] {min-height:10px; background:transparent;}

.container {width:100%; padding-right:15px; padding-left:15px; margin-right:auto; margin-left:auto; position:relative;}
.container-fluid {width:100%; padding-right:15px; padding-left:15px; margin-right:auto; margin-left:auto;}
.row {display:-ms-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap; margin-right:-15px; margin-left:-15px;}

.w-100 {width:100%!important;}
.h-100 {height:100%!important;}

.no-padding{padding-left: 0 !important; padding-right: 0 !important}

@media(min-width: 992px){
	.visible-mobile{display: none;}
}
@media(max-width: 991px){
	.visible-desktop{display: none;}
}

/* container e display-none e flex para todas telas (sm - md - lg - xl) */
@media(min-width:576px){.container{max-width:540px;}.d-sm-none{display:none!important;}.d-sm-flex{display:-ms-flexbox!important;display:flex!important;}}
@media(min-width:768px){.container{max-width:720px;}.d-md-none{display:none!important;}.d-md-flex{display:-ms-flexbox!important;display:flex!important;}}
@media(min-width:992px){.container{max-width:960px;}.d-lg-none{display:none!important;}.d-lg-flex{display:-ms-flexbox!important;display:flex!important;}}
@media(min-width:1200px){.container{max-width:1140px;}.d-xl-none{display:none!important;}.d-xl-flex{display:-ms-flexbox!important;display:flex!important;}}

/* Colunas (col's) para todas telas (sm - md - lg - xl - sl) */
[class*="col-"]{position:relative; width:100%; min-height:1px; padding-right:15px; padding-left:15px;}
.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%;} .col-auto{-ms-flex:0 0 auto;flex:0 0 auto; width:auto; max-width:none;} .col-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%;} .col-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%;} .col-3{-ms-flex:0 0 25%;flex:0 0 25%; max-width:25%;} .col-4{-ms-flex:0 0 33.333333%; flex:0 0 33.333333%; max-width:33.333333%;} .col-5{-ms-flex:0 0 41.666667%; flex:0 0 41.666667%; max-width:41.666667%;} .col-6{-ms-flex:0 0 50%; flex:0 0 50%; max-width:50%;} .col-7{-ms-flex:0 0 58.333333%; flex:0 0 58.333333%; max-width:58.333333%;} .col-8{-ms-flex:0 0 66.666667%; flex:0 0 66.666667%; max-width:66.666667%;} .col-9{-ms-flex:0 0 75%; flex:0 0 75%; max-width:75%;} .col-10{-ms-flex:0 0 83.333333%; flex:0 0 83.333333%; max-width:83.333333%;} .col-11{-ms-flex:0 0 91.666667%; flex:0 0 91.666667%; max-width:91.666667%;} .col-12{-ms-flex:0 0 100%; flex:0 0 100%; max-width:100%;}
.order-first{-ms-flex-order:-1; order:-1;} .order-last{-ms-flex-order:13; order:13;} .order-0{-ms-flex-order:0; order:0;} .order-1{-ms-flex-order:1; order:1;} .order-2{-ms-flex-order:2; order:2;} .order-3{-ms-flex-order:3; order:3;} .order-4{-ms-flex-order:4; order:4;} .order-5{-ms-flex-order:5; order:5;} .order-6{-ms-flex-order:6; order:6;} .order-7{-ms-flex-order:7; order:7;} .order-8{-ms-flex-order:8; order:8;} .order-9{-ms-flex-order:9; order:9;} .order-10{-ms-flex-order:10; order:10; } .order-11{-ms-flex-order:11; order:11; } .order-12{-ms-flex-order:12; order:12; } .offset-1{margin-left:8.333333%; } .offset-2{margin-left:16.666667%; } .offset-3{margin-left:25%; } .offset-4{margin-left:33.333333%; } .offset-5{margin-left:41.666667%; } .offset-6{margin-left:50%; } .offset-7{margin-left:58.333333%; } .offset-8{margin-left:66.666667%; } .offset-9{margin-left:75%; } .offset-10{margin-left:83.333333%; } .offset-11{margin-left:91.666667%; }
@media (min-width:576px){
	.col-sm{-ms-flex-preferred-size:0; flex-basis:0; -ms-flex-positive:1; flex-grow:1; max-width:100%;} .col-sm-auto{-ms-flex:0 0 auto; flex:0 0 auto; width:auto; max-width:none;} .col-sm-1{-ms-flex:0 0 8.333333%; flex:0 0 8.333333%; max-width:8.333333%;} .col-sm-2{-ms-flex:0 0 16.666667%; flex:0 0 16.666667%; max-width:16.666667%;} .col-sm-3{-ms-flex:0 0 25%; flex:0 0 25%; max-width:25%;} .col-sm-4{-ms-flex:0 0 33.333333%; flex:0 0 33.333333%; max-width:33.333333%;} .col-sm-5{-ms-flex:0 0 41.666667%; flex:0 0 41.666667%; max-width:41.666667%;} .col-sm-6{-ms-flex:0 0 50%; flex:0 0 50%; max-width:50%;} .col-sm-7{-ms-flex:0 0 58.333333%; flex:0 0 58.333333%; max-width:58.333333%;} .col-sm-8{-ms-flex:0 0 66.666667%; flex:0 0 66.666667%; max-width:66.666667%;} .col-sm-9{-ms-flex:0 0 75%; flex:0 0 75%; max-width:75%;} .col-sm-10{-ms-flex:0 0 83.333333%; flex:0 0 83.333333%; max-width:83.333333%;} .col-sm-11{-ms-flex:0 0 91.666667%; flex:0 0 91.666667%; max-width:91.666667%;} .col-sm-12{-ms-flex:0 0 100%; flex:0 0 100%; max-width:100%;} .order-sm-first{-ms-flex-order:-1; order:-1;} .order-sm-last {-ms-flex-order:13; order:13;} .order-sm-0{-ms-flex-order:0; order:0;} .order-sm-1{-ms-flex-order:1; order:1;} .order-sm-2{-ms-flex-order:2; order:2;} .order-sm-3{-ms-flex-order:3; order:3;} .order-sm-4{-ms-flex-order:4; order:4;} .order-sm-5{-ms-flex-order:5; order:5;} .order-sm-6{-ms-flex-order:6; order:6;} .order-sm-7{-ms-flex-order:7; order:7;} .order-sm-8{-ms-flex-order:8; order:8;} .order-sm-9{-ms-flex-order:9; order:9;} .order-sm-10{-ms-flex-order:10; order:10;} .order-sm-11{-ms-flex-order:11; order:11;} .order-sm-12{-ms-flex-order:12; order:12;} .offset-sm-0{margin-left:0;} .offset-sm-1{margin-left:8.333333%;} .offset-sm-2{margin-left:16.666667%;} .offset-sm-3{margin-left:25%;} .offset-sm-4{margin-left:33.333333%;} .offset-sm-5{margin-left:41.666667%;} .offset-sm-6{margin-left:50%;} .offset-sm-7{margin-left:58.333333%;} .offset-sm-8{margin-left:66.666667%;} .offset-sm-9{margin-left:75%;} .offset-sm-10{margin-left:83.333333%;} .offset-sm-11{margin-left:91.666667%;}
	.col-sm-50px{width: 50px;}
	.col-sm-100px{width: 100px;}
	.col-sm-150px{width: 150px;}
	.col-sm-200px{width: 200px;}
	.col-sm-250px{width: 250px;}
	.col-sm-300px{width: 300px;}
	.col-sm-350px{width: 350px;}
	.col-sm-450px{width: 450px;}
	.col-sm-500px{width: 500px;}
}
@media (min-width:768px){
	.col-md{-ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%;} .col-md-auto{-ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none;} .col-md-1{-ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%;} .col-md-2{-ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%;} .col-md-3{-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;} .col-md-4{-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;} .col-md-5{-ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%;} .col-md-6{-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;} .col-md-7{-ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%;} .col-md-8{-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;} .col-md-9{-ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;} .col-md-10{-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;} .col-md-11{-ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%;} .col-md-12{-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;} .order-md-first{-ms-flex-order: -1; order: -1;} .order-md-last{-ms-flex-order: 13; order: 13;} .order-md-0{-ms-flex-order: 0; order: 0;} .order-md-1{-ms-flex-order: 1; order: 1;} .order-md-2{-ms-flex-order: 2; order: 2;} .order-md-3{-ms-flex-order: 3; order: 3;} .order-md-4{-ms-flex-order: 4; order: 4;} .order-md-5{-ms-flex-order: 5; order: 5;} .order-md-6{-ms-flex-order: 6; order: 6;} .order-md-7{-ms-flex-order: 7; order: 7;} .order-md-8{-ms-flex-order: 8; order: 8;} .order-md-9{-ms-flex-order: 9; order: 9;} .order-md-10{-ms-flex-order: 10; order: 10;} .order-md-11{-ms-flex-order: 11; order: 11;} .order-md-12{-ms-flex-order: 12; order: 12;} .offset-md-0{margin-left: 0;} .offset-md-1{margin-left: 8.333333%;} .offset-md-2{margin-left: 16.666667%;} .offset-md-3{margin-left: 25%;} .offset-md-4{margin-left: 33.333333%;} .offset-md-5{margin-left: 41.666667%;} .offset-md-6{margin-left: 50%;} .offset-md-7{margin-left: 58.333333%;} .offset-md-8{margin-left: 66.666667%;} .offset-md-9{margin-left: 75%;} .offset-md-10{margin-left: 83.333333%;} .offset-md-11{margin-left: 91.666667%;}
	.col-md-50px{width: 50px;}
	.col-md-100px{width: 100px;}
	.col-md-150px{width: 150px;}
	.col-md-200px{width: 200px;}
	.col-md-250px{width: 250px;}
	.col-md-300px{width: 300px;}
	.col-md-350px{width: 350px;}
	.col-md-450px{width: 450px;}
	.col-md-500px{width: 500px;}
}
@media (min-width:992px){
	.col-lg{-ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%;} .col-lg-auto{-ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none;} .col-lg-1{-ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%;} .col-lg-2{-ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%;} .col-lg-3{-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;} .col-lg-4{-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;} .col-lg-5{-ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%;} .col-lg-6{-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;} .col-lg-7{-ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%;} .col-lg-8{-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;} .col-lg-9{-ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;} .col-lg-10{-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;} .col-lg-11{-ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%;} .col-lg-12{-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;} .order-lg-first{-ms-flex-order: -1; order: -1;} .order-lg-last{-ms-flex-order: 13; order: 13;} .order-lg-0{-ms-flex-order: 0; order: 0;} .order-lg-1{-ms-flex-order: 1; order: 1;} .order-lg-2{-ms-flex-order: 2; order: 2;} .order-lg-3{-ms-flex-order: 3; order: 3;} .order-lg-4{-ms-flex-order: 4; order: 4;} .order-lg-5{-ms-flex-order: 5; order: 5;} .order-lg-6{-ms-flex-order: 6; order: 6;} .order-lg-7{-ms-flex-order: 7; order: 7;} .order-lg-8{-ms-flex-order: 8; order: 8;} .order-lg-9{-ms-flex-order: 9; order: 9;} .order-lg-10{-ms-flex-order: 10; order: 10;} .order-lg-11{-ms-flex-order: 11; order: 11;} .order-lg-12{-ms-flex-order: 12; order: 12;} .offset-lg-0{margin-left: 0;} .offset-lg-1{margin-left: 8.333333%;} .offset-lg-2{margin-left: 16.666667%;} .offset-lg-3{margin-left: 25%;} .offset-lg-4{margin-left: 33.333333%;} .offset-lg-5{margin-left: 41.666667%;} .offset-lg-6{margin-left: 50%;} .offset-lg-7{margin-left: 58.333333%;} .offset-lg-8{margin-left: 66.666667%;} .offset-lg-9{margin-left: 75%;} .offset-lg-10{margin-left: 83.333333%;} .offset-lg-11{margin-left: 91.666667%;}
	.col-lg-50px{width: 50px;}
	.col-lg-100px{width: 100px;}
	.col-lg-150px{width: 150px;}
	.col-lg-200px{width: 200px;}
	.col-lg-250px{width: 250px;}
	.col-lg-300px{width: 300px;}
	.col-lg-350px{width: 350px;}
	.col-lg-450px{width: 450px;}
	.col-lg-500px{width: 500px;}
}
@media (min-width:1200px){
	.col-xl{-ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%;} .col-xl-auto{-ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none;} .col-xl-1{-ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%;} .col-xl-2{-ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%;} .col-xl-3{-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;} .col-xl-4{-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;} .col-xl-5{-ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%;} .col-xl-6{-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;} .col-xl-7{-ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%;} .col-xl-8{-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;} .col-xl-9{-ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;} .col-xl-10{-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;} .col-xl-11{-ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%;} .col-xl-12{-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;} .order-xl-first{-ms-flex-order: -1; order: -1;} .order-xl-last{-ms-flex-order: 13; order: 13;} .order-xl-0{-ms-flex-order: 0; order: 0;} .order-xl-1{-ms-flex-order: 1; order: 1;} .order-xl-2{-ms-flex-order: 2; order: 2;} .order-xl-3{-ms-flex-order: 3; order: 3;} .order-xl-4{-ms-flex-order: 4; order: 4;} .order-xl-5{-ms-flex-order: 5; order: 5;} .order-xl-6{-ms-flex-order: 6; order: 6;} .order-xl-7{-ms-flex-order: 7; order: 7;} .order-xl-8{-ms-flex-order: 8; order: 8;} .order-xl-9{-ms-flex-order: 9; order: 9;} .order-xl-10{-ms-flex-order: 10; order: 10;} .order-xl-11{-ms-flex-order: 11; order: 11;} .order-xl-12{-ms-flex-order: 12; order: 12;} .offset-xl-0{margin-left: 0;} .offset-xl-1{margin-left: 8.333333%;} .offset-xl-2{margin-left: 16.666667%;} .offset-xl-3{margin-left: 25%;} .offset-xl-4{margin-left: 33.333333%;} .offset-xl-5{margin-left: 41.666667%;} .offset-xl-6{margin-left: 50%;} .offset-xl-7{margin-left: 58.333333%;} .offset-xl-8{margin-left: 66.666667%;} .offset-xl-9{margin-left: 75%;} .offset-xl-10{margin-left: 83.333333%;} .offset-xl-11{margin-left: 91.666667%;}
	.col-xl-50px{width: 50px;}
	.col-xl-100px{width: 100px;}
	.col-xl-150px{width: 150px;}
	.col-xl-200px{width: 200px;}
	.col-xl-250px{width: 250px;}
	.col-xl-300px{width: 300px;}
	.col-xl-350px{width: 350px;}
	.col-xl-450px{width: 450px;}
	.col-xl-500px{width: 500px;}
}

.no-gutters {margin-right:0; margin-left:0;}
.no-gutters > .col, .no-gutters > [class*="col-"] {padding-right:0; padding-left:0;}
.gutters-2 {margin-right:-2px; margin-left:-2px;}
.gutters-2 > .col, .gutters-2 > [class*="col-"] {padding-right:2px; padding-left:2px;}
.gutters-3 {margin-right:-3px; margin-left:-3px;}
.gutters-3 > .col, .gutters-3 > [class*="col-"] {padding-right:3px; padding-left:3px;}
.gutters-5 {margin-right:-5px; margin-left:-5px;}
.gutters-5 > .col, .gutters-5 > [class*="col-"] {padding-right:5px; padding-left:5px;}
.gutters-7 {margin-right:-7px; margin-left:-7px;}
.gutters-7 > .col, .gutters-7 > [class*="col-"] {padding-right:7px; padding-left:7px;}

.hidden{display: none !important;}
@media(min-width: 1500px){
	.hidden-sl{display: none !important;}
}

@media(max-width: 1499px){
	@media(min-width: 1200px){.hidden-xl{display: none !important;}}

	.no-gutters-xl-low {margin-right:0; margin-left:0;}
	.no-gutters-xl-low > .col, .no-gutters-xl-low > [class*="col-"] {padding-right:0; padding-left:0;}
	.gutters-2-xl-low {margin-right:-2px; margin-left:-2px;}
	.gutters-2-xl-low > .col, .gutters-2-xl-low > [class*="col-"] {padding-right:2px; padding-left:2px;}
	.gutters-3-xl-low {margin-right:-3px; margin-left:-3px;}
	.gutters-3-xl-low > .col, .gutters-3-xl-low > [class*="col-"] {padding-right:3px; padding-left:3px;}
	.gutters-5-xl-low {margin-right:-5px; margin-left:-5px;}
	.gutters-5-xl-low > .col, .gutters-5-xl-low > [class*="col-"] {padding-right:5px; padding-left:5px;}
	.gutters-10-xl-low {margin-right:-10px; margin-left:-10px;}
	.gutters-10-xl-low > .col, .gutters-10-xl-low > [class*="col-"] {padding-right:10px; padding-left:10px;}
}

@media(max-width: 1199px){
	@media(min-width: 992px){.hidden-lg{display: none !important;}}

	.no-gutters-lg-low {margin-right:0; margin-left:0;}
	.no-gutters-lg-low > .col, .no-gutters-lg-low > [class*="col-"] {padding-right:0; padding-left:0;}
	.gutters-2-lg-low {margin-right:-2px; margin-left:-2px;}
	.gutters-2-lg-low > .col, .gutters-2-lg-low > [class*="col-"] {padding-right:2px; padding-left:2px;}
	.gutters-3-lg-low {margin-right:-3px; margin-left:-3px;}
	.gutters-3-lg-low > .col, .gutters-3-lg-low > [class*="col-"] {padding-right:3px; padding-left:3px;}
	.gutters-5-lg-low {margin-right:-5px; margin-left:-5px;}
	.gutters-5-lg-low > .col, .gutters-5-lg-low > [class*="col-"] {padding-right:5px; padding-left:5px;}
}

@media(min-width: 992px){
	.hidden-desktop{display: none !important}
}

@media(max-width: 991px){
	.hidden-mobile{display: none !important}
	@media(min-width: 768px){.hidden-md{display: none !important;}}

	.no-gutters-md-low {margin-right:0; margin-left:0;}
	.no-gutters-md-low > .col, .no-gutters-md-low > [class*="col-"] {padding-right:0; padding-left:0;}
	.gutters-2-md-low {margin-right:-2px; margin-left:-2px;}
	.gutters-2-md-low > .col, .gutters-2-md-low > [class*="col-"] {padding-right:2px; padding-left:2px;}
	.gutters-3-md-low {margin-right:-3px; margin-left:-3px;}
	.gutters-3-md-low > .col, .gutters-3-md-low > [class*="col-"] {padding-right:3px; padding-left:3px;}
	.gutters-5-md-low {margin-right:-5px; margin-left:-5px;}
	.gutters-5-md-low > .col, .gutters-5-md-low > [class*="col-"] {padding-right:5px; padding-left:5px;}
}

@media(max-width: 767px){
	@media(min-width: 576px){.hidden-sm{display: none !important;}}

	.no-gutters-sm-low {margin-right:0; margin-left:0;}
	.no-gutters-sm-low > .col, .no-gutters-sm-low > [class*="col-"] {padding-right:0; padding-left:0;}
	.gutters-2-sm-low {margin-right:-2px; margin-left:-2px;}
	.gutters-2-sm-low > .col, .gutters-2-sm-low > [class*="col-"] {padding-right:2px; padding-left:2px;}
	.gutters-3-sm-low {margin-right:-3px; margin-left:-3px;}
	.gutters-3-sm-low > .col, .gutters-3-sm-low > [class*="col-"] {padding-right:3px; padding-left:3px;}
	.gutters-5-sm-low {margin-right:-5px; margin-left:-5px;}
	.gutters-5-sm-low > .col, .gutters-5-sm-low > [class*="col-"] {padding-right:5px; padding-left:5px;}
}

@media(max-width: 575px){
	.hidden-ss{display: none !important;}

	.no-gutters-ss {margin-right:0; margin-left:0;}
	.no-gutters-ss > .col, .no-gutters-ss > [class*="col-"] {padding-right:0; padding-left:0;}
	.gutters-2-ss {margin-right:-2px; margin-left:-2px;}
	.gutters-2-ss > .col, .gutters-2-ss > [class*="col-"] {padding-right:2px; padding-left:2px;}
	.gutters-3-ss {margin-right:-3px; margin-left:-3px;}
	.gutters-3-ss > .col, .gutters-3-ss > [class*="col-"] {padding-right:3px; padding-left:3px;}
	.gutters-5-ss {margin-right:-5px; margin-left:-5px;}
	.gutters-5-ss > .col, .gutters-5-ss > [class*="col-"] {padding-right:5px; padding-left:5px;}
}


.flex-row{-ms-flex-direction:row!important;flex-direction:row!important;}
.flex-column{-ms-flex-direction:column!important;flex-direction:column!important;}
.flex-row-reverse{-ms-flex-direction:row-reverse!important;flex-direction:row-reverse!important;}
.flex-column-reverse{-ms-flex-direction:column-reverse!important;flex-direction:column-reverse!important;}
.flex-wrap{-ms-flex-wrap:wrap!important;flex-wrap:wrap!important;}
.flex-nowrap{-ms-flex-wrap:nowrap!important;flex-wrap:nowrap!important;}
.flex-wrap-reverse{-ms-flex-wrap:wrap-reverse!important;flex-wrap:wrap-reverse!important;}
.justify-content-start{-ms-flex-pack:start!important;justify-content:flex-start!important;}
.justify-content-end{-ms-flex-pack:end!important;justify-content:flex-end!important;}
.justify-content-center{-ms-flex-pack:center!important;justify-content:center!important;}
.justify-content-between{-ms-flex-pack:justify!important;justify-content:space-between!important;}
.justify-content-around{-ms-flex-pack:distribute!important;justify-content:space-around!important;}
.align-items-start{-ms-flex-align:start!important;align-items:flex-start!important;}
.align-items-end{-ms-flex-align:end!important;align-items:flex-end!important;}
.align-items-center{-ms-flex-align:center!important;align-items:center!important;}
.align-items-baseline{-ms-flex-align:baseline!important;align-items:baseline!important;}
.align-items-stretch{-ms-flex-align:stretch!important;align-items:stretch!important;}
.align-content-start{-ms-flex-line-pack:start!important;align-content:flex-start!important;}
.align-content-end{-ms-flex-line-pack:end!important;align-content:flex-end!important;}
.align-content-center{-ms-flex-line-pack:center!important;align-content:center!important;}
.align-content-between{-ms-flex-line-pack:justify!important;align-content:space-between!important;}
.align-content-around{-ms-flex-line-pack:distribute!important;align-content:space-around!important;}
.align-content-stretch{-ms-flex-line-pack:stretch!important;align-content:stretch!important;}
.align-self-auto{-ms-flex-item-align:auto!important;align-self:auto!important;}
.align-self-start{-ms-flex-item-align:start!important;align-self:flex-start!important;}
.align-self-end{-ms-flex-item-align:end!important;align-self:flex-end!important;}
.align-self-center{-ms-flex-item-align:center!important;align-self:center!important;}
.align-self-baseline{-ms-flex-item-align:baseline!important;align-self:baseline!important;}
.align-self-stretch{-ms-flex-item-align:stretch!important;align-self:stretch!important;}

@media(min-width:576px){
	.flex-sm-row{-ms-flex-direction:row!important;flex-direction:row!important;}
	.flex-sm-column{-ms-flex-direction:column!important;flex-direction:column!important;}
	.flex-sm-row-reverse{-ms-flex-direction:row-reverse!important;flex-direction:row-reverse!important;}
	.flex-sm-column-reverse{-ms-flex-direction:column-reverse!important;flex-direction:column-reverse!important;}
	.flex-sm-wrap{-ms-flex-wrap:wrap!important;flex-wrap:wrap!important;}
	.flex-sm-nowrap{-ms-flex-wrap:nowrap!important;flex-wrap:nowrap!important;}
	.flex-sm-wrap-reverse{-ms-flex-wrap:wrap-reverse!important;flex-wrap:wrap-reverse!important;}
	.justify-content-sm-start{-ms-flex-pack:start!important;justify-content:flex-start!important;}
	.justify-content-sm-end{-ms-flex-pack:end!important;justify-content:flex-end!important;}
	.justify-content-sm-center{-ms-flex-pack:center!important;justify-content:center!important;}
	.justify-content-sm-between{-ms-flex-pack:justify!important;justify-content:space-between!important;}
	.justify-content-sm-around{-ms-flex-pack:distribute!important;justify-content:space-around!important;}
	.align-items-sm-start{-ms-flex-align:start!important;align-items:flex-start!important;}
	.align-items-sm-end{-ms-flex-align:end!important;align-items:flex-end!important;}
	.align-items-sm-center{-ms-flex-align:center!important;align-items:center!important;}
	.align-items-sm-baseline{-ms-flex-align:baseline!important;align-items:baseline!important;}
	.align-items-sm-stretch{-ms-flex-align:stretch!important;align-items:stretch!important;}
	.align-content-sm-start{-ms-flex-line-pack:start!important;align-content:flex-start!important;}
	.align-content-sm-end{-ms-flex-line-pack:end!important;align-content:flex-end!important;}
	.align-content-sm-center{-ms-flex-line-pack:center!important;align-content:center!important;}
	.align-content-sm-between{-ms-flex-line-pack:justify!important;align-content:space-between!important;}
	.align-content-sm-around{-ms-flex-line-pack:distribute!important;align-content:space-around!important;}
	.align-content-sm-stretch{-ms-flex-line-pack:stretch!important;align-content:stretch!important;}
	.align-self-sm-auto{-ms-flex-item-align:auto!important;align-self:auto!important;}
	.align-self-sm-start{-ms-flex-item-align:start!important;align-self:flex-start!important;}
	.align-self-sm-end{-ms-flex-item-align:end!important;align-self:flex-end!important;}
	.align-self-sm-center{-ms-flex-item-align:center!important;align-self:center!important;}
	.align-self-sm-baseline{-ms-flex-item-align:baseline!important;align-self:baseline!important;}
	.align-self-sm-stretch{-ms-flex-item-align:stretch!important;align-self:stretch!important;}
}

@media(min-width:768px){
	.flex-md-row{-ms-flex-direction:row!important;flex-direction:row!important;}
	.flex-md-column{-ms-flex-direction:column!important;flex-direction:column!important;}
	.flex-md-row-reverse{-ms-flex-direction:row-reverse!important;flex-direction:row-reverse!important;}
	.flex-md-column-reverse{-ms-flex-direction:column-reverse!important;flex-direction:column-reverse!important;}
	.flex-md-wrap{-ms-flex-wrap:wrap!important;flex-wrap:wrap!important;}
	.flex-md-nowrap{-ms-flex-wrap:nowrap!important;flex-wrap:nowrap!important;}
	.flex-md-wrap-reverse{-ms-flex-wrap:wrap-reverse!important;flex-wrap:wrap-reverse!important;}
	.justify-content-md-start{-ms-flex-pack:start!important;justify-content:flex-start!important;}
	.justify-content-md-end{-ms-flex-pack:end!important;justify-content:flex-end!important;}
	.justify-content-md-center{-ms-flex-pack:center!important;justify-content:center!important;}
	.justify-content-md-between{-ms-flex-pack:justify!important;justify-content:space-between!important;}
	.justify-content-md-around{-ms-flex-pack:distribute!important;justify-content:space-around!important;}
	.align-items-md-start{-ms-flex-align:start!important;align-items:flex-start!important;}
	.align-items-md-end{-ms-flex-align:end!important;align-items:flex-end!important;}
	.align-items-md-center{-ms-flex-align:center!important;align-items:center!important;}
	.align-items-md-baseline{-ms-flex-align:baseline!important;align-items:baseline!important;}
	.align-items-md-stretch{-ms-flex-align:stretch!important;align-items:stretch!important;}
	.align-content-md-start{-ms-flex-line-pack:start!important;align-content:flex-start!important;}
	.align-content-md-end{-ms-flex-line-pack:end!important;align-content:flex-end!important;}
	.align-content-md-center{-ms-flex-line-pack:center!important;align-content:center!important;}
	.align-content-md-between{-ms-flex-line-pack:justify!important;align-content:space-between!important;}
	.align-content-md-around{-ms-flex-line-pack:distribute!important;align-content:space-around!important;}
	.align-content-md-stretch{-ms-flex-line-pack:stretch!important;align-content:stretch!important;}
	.align-self-md-auto{-ms-flex-item-align:auto!important;align-self:auto!important;}
	.align-self-md-start{-ms-flex-item-align:start!important;align-self:flex-start!important;}
	.align-self-md-end{-ms-flex-item-align:end!important;align-self:flex-end!important;}
	.align-self-md-center{-ms-flex-item-align:center!important;align-self:center!important;}
	.align-self-md-baseline{-ms-flex-item-align:baseline!important;align-self:baseline!important;}
	.align-self-md-stretch{-ms-flex-item-align:stretch!important;align-self:stretch!important;}
}

@media(min-width:992px){
	.flex-lg-row{-ms-flex-direction:row!important;flex-direction:row!important;}
	.flex-lg-column{-ms-flex-direction:column!important;flex-direction:column!important;}
	.flex-lg-row-reverse{-ms-flex-direction:row-reverse!important;flex-direction:row-reverse!important;}
	.flex-lg-column-reverse{-ms-flex-direction:column-reverse!important;flex-direction:column-reverse!important;}
	.flex-lg-wrap{-ms-flex-wrap:wrap!important;flex-wrap:wrap!important;}
	.flex-lg-nowrap{-ms-flex-wrap:nowrap!important;flex-wrap:nowrap!important;}
	.flex-lg-wrap-reverse{-ms-flex-wrap:wrap-reverse!important;flex-wrap:wrap-reverse!important;}
	.justify-content-lg-start{-ms-flex-pack:start!important;justify-content:flex-start!important;}
	.justify-content-lg-end{-ms-flex-pack:end!important;justify-content:flex-end!important;}
	.justify-content-lg-center{-ms-flex-pack:center!important;justify-content:center!important;}
	.justify-content-lg-between{-ms-flex-pack:justify!important;justify-content:space-between!important;}
	.justify-content-lg-around{-ms-flex-pack:distribute!important;justify-content:space-around!important;}
	.align-items-lg-start{-ms-flex-align:start!important;align-items:flex-start!important;}
	.align-items-lg-end{-ms-flex-align:end!important;align-items:flex-end!important;}
	.align-items-lg-center{-ms-flex-align:center!important;align-items:center!important;}
	.align-items-lg-baseline{-ms-flex-align:baseline!important;align-items:baseline!important;}
	.align-items-lg-stretch{-ms-flex-align:stretch!important;align-items:stretch!important;}
	.align-content-lg-start{-ms-flex-line-pack:start!important;align-content:flex-start!important;}
	.align-content-lg-end{-ms-flex-line-pack:end!important;align-content:flex-end!important;}
	.align-content-lg-center{-ms-flex-line-pack:center!important;align-content:center!important;}
	.align-content-lg-between{-ms-flex-line-pack:justify!important;align-content:space-between!important;}
	.align-content-lg-around{-ms-flex-line-pack:distribute!important;align-content:space-around!important;}
	.align-content-lg-stretch{-ms-flex-line-pack:stretch!important;align-content:stretch!important;}
	.align-self-lg-auto{-ms-flex-item-align:auto!important;align-self:auto!important;}
	.align-self-lg-start{-ms-flex-item-align:start!important;align-self:flex-start!important;}
	.align-self-lg-end{-ms-flex-item-align:end!important;align-self:flex-end!important;}
	.align-self-lg-center{-ms-flex-item-align:center!important;align-self:center!important;}
	.align-self-lg-baseline{-ms-flex-item-align:baseline!important;align-self:baseline!important;}
	.align-self-lg-stretch{-ms-flex-item-align:stretch!important;align-self:stretch!important;}
}

@media(min-width:1200px){
	.flex-xl-row{-ms-flex-direction:row!important;flex-direction:row!important;}
	.flex-xl-column{-ms-flex-direction:column!important;flex-direction:column!important;}
	.flex-xl-row-reverse{-ms-flex-direction:row-reverse!important;flex-direction:row-reverse!important;}
	.flex-xl-column-reverse{-ms-flex-direction:column-reverse!important;flex-direction:column-reverse!important;}
	.flex-xl-wrap{-ms-flex-wrap:wrap!important;flex-wrap:wrap!important;}
	.flex-xl-nowrap{-ms-flex-wrap:nowrap!important;flex-wrap:nowrap!important;}
	.flex-xl-wrap-reverse{-ms-flex-wrap:wrap-reverse!important;flex-wrap:wrap-reverse!important;}
	.flex-xl-fill{-ms-flex:11 auto!important;flex:11 auto!important;}
	.flex-xl-grow-0{-ms-flex-positive:0!important;flex-grow:0!important;}
	.flex-xl-grow-1{-ms-flex-positive:1!important;flex-grow:1!important;}
	.flex-xl-shrink-0{-ms-flex-negative:0!important;flex-shrink:0!important;}
	.flex-xl-shrink-1{-ms-flex-negative:1!important;flex-shrink:1!important;}
	.justify-content-xl-start{-ms-flex-pack:start!important;justify-content:flex-start!important;}
	.justify-content-xl-end{-ms-flex-pack:end!important;justify-content:flex-end!important;}
	.justify-content-xl-center{-ms-flex-pack:center!important;justify-content:center!important;}
	.justify-content-xl-between{-ms-flex-pack:justify!important;justify-content:space-between!important;}
	.justify-content-xl-around{-ms-flex-pack:distribute!important;justify-content:space-around!important;}
	.align-items-xl-start{-ms-flex-align:start!important;align-items:flex-start!important;}
	.align-items-xl-end{-ms-flex-align:end!important;align-items:flex-end!important;}
	.align-items-xl-center{-ms-flex-align:center!important;align-items:center!important;}
	.align-items-xl-baseline{-ms-flex-align:baseline!important;align-items:baseline!important;}
	.align-items-xl-stretch{-ms-flex-align:stretch!important;align-items:stretch!important;}
	.align-content-xl-start{-ms-flex-line-pack:start!important;align-content:flex-start!important;}
	.align-content-xl-end{-ms-flex-line-pack:end!important;align-content:flex-end!important;}
	.align-content-xl-center{-ms-flex-line-pack:center!important;align-content:center!important;}
	.align-content-xl-between{-ms-flex-line-pack:justify!important;align-content:space-between!important;}
	.align-content-xl-around{-ms-flex-line-pack:distribute!important;align-content:space-around!important;}
	.align-content-xl-stretch{-ms-flex-line-pack:stretch!important;align-content:stretch!important;}
	.align-self-xl-auto{-ms-flex-item-align:auto!important;align-self:auto!important;}
	.align-self-xl-start{-ms-flex-item-align:start!important;align-self:flex-start!important;}
	.align-self-xl-end{-ms-flex-item-align:end!important;align-self:flex-end!important;}
	.align-self-xl-center{-ms-flex-item-align:center!important;align-self:center!important;}
	.align-self-xl-baseline{-ms-flex-item-align:baseline!important;align-self:baseline!important;}
	.align-self-xl-stretch{-ms-flex-item-align:stretch!important;align-self:stretch!important;}
}

@media(min-width:1500px){
	.flex-sl-row{-ms-flex-direction:row!important;flex-direction:row!important;}
	.flex-sl-column{-ms-flex-direction:column!important;flex-direction:column!important;}
	.flex-sl-row-reverse{-ms-flex-direction:row-reverse!important;flex-direction:row-reverse!important;}
	.flex-sl-column-reverse{-ms-flex-direction:column-reverse!important;flex-direction:column-reverse!important;}
	.flex-sl-wrap{-ms-flex-wrap:wrap!important;flex-wrap:wrap!important;}
	.flex-sl-nowrap{-ms-flex-wrap:nowrap!important;flex-wrap:nowrap!important;}
	.flex-sl-wrap-reverse{-ms-flex-wrap:wrap-reverse!important;flex-wrap:wrap-reverse!important;}
	.flex-sl-fill{-ms-flex:11 auto!important;flex:11 auto!important;}
	.flex-sl-grow-0{-ms-flex-positive:0!important;flex-grow:0!important;}
	.flex-sl-grow-1{-ms-flex-positive:1!important;flex-grow:1!important;}
	.flex-sl-shrink-0{-ms-flex-negative:0!important;flex-shrink:0!important;}
	.flex-sl-shrink-1{-ms-flex-negative:1!important;flex-shrink:1!important;}
	.justify-content-sl-start{-ms-flex-pack:start!important;justify-content:flex-start!important;}
	.justify-content-sl-end{-ms-flex-pack:end!important;justify-content:flex-end!important;}
	.justify-content-sl-center{-ms-flex-pack:center!important;justify-content:center!important;}
	.justify-content-sl-between{-ms-flex-pack:justify!important;justify-content:space-between!important;}
	.justify-content-sl-around{-ms-flex-pack:distribute!important;justify-content:space-around!important;}
	.align-items-sl-start{-ms-flex-align:start!important;align-items:flex-start!important;}
	.align-items-sl-end{-ms-flex-align:end!important;align-items:flex-end!important;}
	.align-items-sl-center{-ms-flex-align:center!important;align-items:center!important;}
	.align-items-sl-baseline{-ms-flex-align:baseline!important;align-items:baseline!important;}
	.align-items-sl-stretch{-ms-flex-align:stretch!important;align-items:stretch!important;}
	.align-content-sl-start{-ms-flex-line-pack:start!important;align-content:flex-start!important;}
	.align-content-sl-end{-ms-flex-line-pack:end!important;align-content:flex-end!important;}
	.align-content-sl-center{-ms-flex-line-pack:center!important;align-content:center!important;}
	.align-content-sl-between{-ms-flex-line-pack:justify!important;align-content:space-between!important;}
	.align-content-sl-around{-ms-flex-line-pack:distribute!important;align-content:space-around!important;}
	.align-content-sl-stretch{-ms-flex-line-pack:stretch!important;align-content:stretch!important;}
	.align-self-sl-auto{-ms-flex-item-align:auto!important;align-self:auto!important;}
	.align-self-sl-start{-ms-flex-item-align:start!important;align-self:flex-start!important;}
	.align-self-sl-end{-ms-flex-item-align:end!important;align-self:flex-end!important;}
	.align-self-sl-center{-ms-flex-item-align:center!important;align-self:center!important;}
	.align-self-sl-baseline{-ms-flex-item-align:baseline!important;align-self:baseline!important;}
	.align-self-sl-stretch{-ms-flex-item-align:stretch!important;align-self:stretch!important;}
}